txt/
*.json
.DS_Store
CLCmini/
CUAD_v1/
token-count.ipynb
github_oss_with_stack_texts.txt\
data/scripts/
venv/
data/arXiv Metadata Snapshot.json
data/output/physics_arxiv_abstracts.txt
data/output/math_arxiv_abstracts.txt
data/output/biology_arxiv_abstracts.txt